/* Login.css */

.login-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('/background_banner.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 40px;
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.login-form button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-form button:hover {
  background-color: #f40612;
}

.error {
  color: #ff4c4c;
  font-size: 13px;
  text-align: center;
}
.signup-link {
  color: #b3b3b3;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
